 
<div class="container">
    <div class="wrap">
        <app-logo></app-logo>
        <button class="button">
            <a routerLink="/works" class="a">
                Works
            </a>
        </button>
        <button class="button">
            <a routerLink="/about" class="a">
                About
            </a>
        </button>
        <button class="button">
            <a routerLink="/contact" class="a">
                Contact
            </a>
        </button>
    </div>
 </div>


